<p id="notice"><%= notice %></p>

<p>
  <strong>Unidae:</strong>
  <%= @user.unidade.nil? ? "Nenhuma" : @user.unidade.nome  %>
</p>


<p>
  <strong>Matricula:</strong>
  <%= @user.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
