<%= form_for(@opo) do |f| %>
  <% if @opo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opo.errors.count, "error") %> prohibited this opo from being saved:</h2>

      <ul>
      <% @opo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? -%>
    <div class="field">
      <%= f.label :unidade_id %><br>
      <%= select("opo", "unidade_id", Unidade.all.collect {|p| [ p.nome, p.id ] }, {include_blank: false}) %>
    </div>    
  <% end -%>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :data_inicio %><br>
    <%= f.date_select :data_inicio %>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br>
    <%= f.date_select :data_fim %>
  </div>
  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_area :texto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
