<p id="notice"><%= notice %></p>

<h1>OPOs</h1>

<table>
  <thead>
    <tr>
      <th>Número</th>
      <th>Descrição</th>
      <th>Data início</th>
      <th>Data fim</th>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opos.each do |opo| %>
      <tr>
        <td><%= opo.numero %></td>
        <td><%= opo.descricao %></td>
        <td><%= opo.data_inicio %></td>
        <td><%= opo.data_fim %></td>
        <td><%= opo.texto %></td>
        <td><%= link_to 'Exibir', opo %></td>
        <td><%= link_to 'Editar', edit_opo_path(opo) %></td>
        <td><%= link_to 'Apagar', opo, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova OPO', new_opo_path %>
